@page "/"
@page "/index.html"

<PageTitle>ToDo Lister</PageTitle>
<HeadContent>
    <meta name="description" content="Our First Project!" />
    <meta name="keywords" content="todo list, blazor, github" />
    <meta name="robots" content="index, follow" />
</HeadContent>

<FluentHeader Style="background-color:#FF0000;">
    ToDo Lister
</FluentHeader>

<main>
<h1>Hello, world!</h1>

Welcome to your new app.
</main>